.divider-container{
    display: flex;
    justify-content: center;
}
.or{
   margin-left: 20px;
   margin-right: 20px;
   position: relative;
   bottom: 15px;
}

.divider{
    height:1px;
    width: 40%;
   background-color: lightgrey;
}
.social-btn{
    width: 300px;
}
